@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    UES<br />
    San Salvador<br />
    El Salvador<br />
    <abbr title="Telefono">Tel:</abbr>
    7319-6846
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:vanecampos147@gmail.com">vanecampos147@gmail.com</a><br />
    <strong>Mercadeo:</strong> <a href="mailto:vanecampos147@gmail.com">vanecampos147@gmail.com</a>
</address>