@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueo";
}

<hgroup>
    <h1 class="text-danger">Bloqueada.</h1>
    <h2 class="text-danger">Esta cuenta ha sido bloqueada, Por favor pongase en contacto con el administrador.</h2>
</hgroup>
